@use "sass:math";
$color-text: #1f2937;
$color-background: #f5f7fb;
$color-border: gray;
$color-button: #315efb;

$border-small: 14px;
$borber-middle: 16px;

$gap-small: 20px;
$gap-middle: 30px;
$gap-big: 40px;

$padding-small: 40px;
$padding-middle: 30px;
$padding-big: 25px;

$spacing-half: math.div($padding-small, 2);